@charset "utf-8";
/* CSS Document */




.secstor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
	margin-bottom: 4em;
}

.sec1 {
grid-column:  1 / 5;
	text-align: center;
}

.aktivbillede{
	grid-column:  1 / 5;
	justify-self:center;
}


ul {
  list-style: none;
}



main img {
	border-style: solid;
	border-color: #FFA500;
	
}

header h1 {
	color: #FFA500;
	text-align: center;
	grid-column:  1 / 5;
	
}

		

@media only screen and (min-width: 600px) {
	

}


