@charset "utf-8";
/* CSS Document */



#wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

nav{
	border: solid transparent 2px;
	border-bottom-color: #707070;
	height: 40px;
	grid-column: 1/5;
	grid-row: 1;
}

/*header{
	grid-column: 1/5;
	grid-row: 2;
}*/

main{
	grid-column: 1/5;
	grid-row: 2/3;
	display: flex;
}

main img{
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
	border-style: solid;
	border-color: #FFA500;
}


footer{
	grid-column: 1/5;
	grid-row: 4;
	border: solid transparent 2px;
	border-top-color: #707070;
	color: #707070;	
	display: flex;
}

h2{
	margin: 2% 0 0 5%;
	font-size: 0.9em;
	grid-column: 1/5;
	color:  #FFA500;
}

/*.footermail{
	flex: 0;
	padding: 0 15% 0 2%;
}*/

/*.fab{
	line-height: 1.8;
	font-size: 1.5em;
	margin-left: 2%;
	color: black;
	grid-column: 4/5;
	grid-row: 4;
}*/
		

@media only screen and (min-width: 600px) {
	
#wrapper{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  grid-auto-rows: minmax(80px, auto);
}

nav{
	grid-column: 1/5;
	grid-row: 1;
}

main{
	grid-column: 1/5;
	grid-row: 2/3;
	display: flex;
}

h2{
	margin: 2% 0 0 5%;
	font-size: 1.5em;
	grid-column: 2/4;
		
	}
	
main img{
	 display: block;
  margin-left: auto;
  margin-right: auto;
	margin-top: 5%;
  width: 50%;
	border-style: solid;
	border-color: #FFA500;
}

		
}


	padding-top: 0.5em;
	padding-bottom: 0.5em;
}