@charset "UTF-8";
/* CSS Document */
/* --------NAV-BURGER----------------*/


.face {
	display:inline-flex;
	flex-direction: row;
	grid-column: 4 / 5;
}


#logo{
	text-align: center;
	position: relative;
	top: -37px;
	color: #FFA500;
}

a
{
  text-decoration: none;
  color: #FFA500;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 8px;
  left: 5px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #FFA500;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

nav img {
	max-height: 44px;
	margin-top: -9px;
}

nav{
	border: solid transparent 2px;
	border-bottom-color: #707070;
	height: 40px;
	grid-column: 1/5;
	grid-row: 1;
}


footer{
	grid-column: 1/5;
	grid-row: 4;
	border: solid transparent 2px;
	border-top-color: #707070;
	color: #707070;	
	display: grid;
	grid-template-columns: 20% 30% 30% 20%;
	background-color: rgba(255,140,0,1.00);
	
}

.footermail{
	flex: 0;
	margin-right: 15%;
	color: black;
	margin-left: 5%;
	
}

.fab{
	line-height: 1.8;
	font-size: 1.5em;
	margin-left: 2%;
	color: black;
}




@media only screen and (min-width: 600px) {
#menuToggle span
{
  display: block;
  width: 66px;
  height: 8px;
  margin-bottom: 8px;
	margin-top: 8px;
  position: relative;
  
  background: #FFA500;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}	
	
	nav{
	border: solid transparent 2px;
	border-bottom-color: #707070;
	height: 80px;
}
nav img {
	max-height: 80px;
	margin-top: -35px;
}
	
	.face {
	margin-left: 40%;
}
	
}